$primary-color: rgb(43, 45, 90);
$secondary-color: rgb(131, 131, 131);
$tertiary-color: rgb(46, 49, 116);
$primary-text-color: #222;
$background-color: $primary-text-color;
$deleted-color: $background-color;

@mixin easeOut {
    transition: all 0.2s ease-out;
}

@mixin easeInOut {
    transition: all 1s ease-in-out;
}

@mixin myBorder {
    border: 1px solid $secondary-color;
    border-radius: 5px;
}

@mixin height {
    height: 28px;
}