$primary-color: #071942;
$secondary-color: #172d5f;
$primary-text-color: #1a1a1a;
$secondary-text-color: #6d8dda;
$background-color: #2e4172;
$deleted-color: $primary-text-color;
@mixin easeOut {
    transition: all 0.2s ease-out;
}

@mixin easeInOut {
    transition: all 1s ease-in-out;
}

@mixin myBorder {
    border: 1px solid $secondary-color;
    border-radius: 5px;
}

@mixin height {
    height: 30px;
}