@import "config";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-family: "Source Code Pro", monospace;
  background: $background-color;
  color: $primary-text-color;
}

#control {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

ul {
  padding: 0;
  text-align: left;
  list-style: none;
}

button {
  @include myBorder();
  @include height();
  padding: 2px 5px;
  &:hover {
      @include easeOut();
      background-color: $primary-color;
      color: rgb(218, 218, 218);
  }
}

#clearButton {
  display: none;
  width: 100%;
}

#listDiv {
  display: grid;
  grid-template-columns: 1;
  grid-column-gap: 5px;
  li {
    width: 100%;
    padding: 2px 5px;
    margin-top: 3px;
    color: rgb(218, 218, 218);
    background-color: $list-element-color;
    text-align: center;
    @include myBorder;
    @include easeOut;
    @include height;
    &:hover {
      background-color: $list-element-hover-color;
    }
    .done {
      background-color: black;
      color: red;
    }
  }
}

::placeholder {
  text-align: center;
  font-size: 110%;
}

input[type="text"] {
  @include myBorder();
  @include height();
  width: 100%;
  padding: 2px 5px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
}
